* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Neucha', cursive;
}

.wrapper {
  width: 100%;
  height: 100%;
}

/*btns*/
.btns {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.btns a {
  display: block;
  text-decoration: none;
  padding: 0 10px;
  border: 2px solid #fff;
  color: #fff;
  margin-left: 10px;
  font-weight: bold;
  transition: .3s all;
  border-radius: 5px;
    font-size: 15px;
}

.btns a:hover {
  background: #fff;
  color: #B6D14C;
}
/*btns end*/

/*header*/
.header {
  height: 9.5em;
  width: 100%;
  background: url(../img/bg-header.png) left center repeat-x;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header img {
  position: absolute;
  top: 0;
  left: 10.2%;
}

.container {
  width: 35%;
}

.top-menu {
    width: 60%;
  height: 100%;
}

.top-menu ul {
  margin-top: 126px;
}

.top-menu ul li {
  float: left;
  list-style-type: none;
}

.top-menu ul li a {
  display: block;
  text-decoration: none;
  color: #555;
  font-size: 20px;
  font-family: 'Neucha', cursive;
  padding: 0 12px;
  font-weight: bold;
}

.top-menu ul li a:hover {
  text-shadow: 0 2px 2px #fff;
}

.clear {
    clear: both;
}

.info-header {
  text-align: right;
  padding: 10px 25px 0 0;
  font-size: 15px;
  width: 45%;
  color: #999;
  font-family: 'Neucha', cursive;
  font-weight: bold;
}

.contacts {
  margin-top: 5px;
  font-family: 'Neucha', cursive;
  font-weight: bold;
}

.contacts .phones {
  color: #789;
}

#focus, .om {
    display: none;
}

@media screen and (max-width: 1200px) {
    .info-header {
        width: 50%;
    }

    .top-menu {
        display: none;
    }

    .top-menu ul li {
        float: none;
    }

    .top-menu ul li a:hover {
        color: #fff;
    }

  .icons {
    width: 50px;
    height: 40px;
    padding: 10px;
    display: block;
    margin: 15px;
    cursor: pointer;
    transition: .3s all;
}

  .icon-bar {
    display: block;
    width: 90%;
    height: 3px;
    margin-bottom: 4px;
    background-color: #fff;
    transition: .3s all;
  }

    #focus:checked ~ .top-menu {
        right: 0;
    }

  .exit {
        position: absolute;
        top: 4px;
        right: 20px;
    }

    .fa-angle-double-right::before {
        font-size: 50px;
    margin: 20px;
    color: #999;
    }
}

@media screen and (max-width: 500px) {
  .header img {
    width: 220px;
    top: 10%;
  }

  .info-header {
    font-size: 12px;
    padding: 5px;
  }
}

@media screen and (max-width: 376px) {
  .header img {
    width: 180px;
  }
}
/*header end*/

/*sidebar*/
.sidebar {
  width: 12.9%;
  display: table-cell;
  background-color: #FFF116;
  border-right: 2px solid #464B37;
  min-height: 680px;

}

.sidebar ul li {
  list-style-image: url(../img/lst.png);
    width: 100%;
    display: block;
}

.sidebar ul li a {
  text-decoration: none;
  font-family: 'Neucha', cursive;
  display: block;
  color: #666;
  font-weight: bold;
  padding: 5px 0 5px 28px;
  font-size: 15px;
  position: relative;
    text-align: center;
}

.sidebar ul li a:hover {
  color: #888;
}

.facebook {
  height: 32px;
  width: 32px;
  background: url("../img/facebook.png") no-repeat right center;
}

.sidebar ul li a::before {
  content: "";
    height: 23px;
    width: 23px;
    margin-left: 5px;
    display: inline-block;
    background: url("../img/lst.png") center center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

#checker {
    display: none;
}

.nav {
    display: block;
  position: absolute;
    top: 104px;
    left: 20px;
}

#checker:checked ~ .sidebar {
    left: 0;
}

.fa-angle-double-left::before {
  display: none;
}
@media screen and (max-width: 1200px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -550px;
    background-color: #B6D14C;
    transition: .3s all;
    z-index: 5;
    min-width: 280px;
  }

  .fa-angle-double-left::before {
    font-size: 50px;
    display: block;
    cursor: pointer;
    color: #fff;
    transition: .3s all;
    margin: 15px;
  }
}
/*sidebar end*/

/*wrap*/
.wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
/*wrap end*/

/*content*/
.content {
  width: 87.2%;
  padding: 15px 35px 100px 35px;
  position: relative;
}

.content h1 {
  font-size: 22px;
  text-align: center;
  margin-top: 15px;
}

.content h4 {
  text-align: center;
  margin-bottom: 20px;
}

.content ul {
  width: 86%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.bgim::before {
  content: '';
    display: inline-block;
    background: url("../img/bg-ul.jpg") center center no-repeat;
    height: 194px;
    width: 66px;
    float: left;
  margin-right: 17px;
}

.image {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.image img {
  width: 190px;
  margin: 0 auto;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-top: 20px;
}

.full, .no-full {
  font-size: 15px;
  padding: 20px;
}

.full .table {
  width: 90%;
}

.full {
  transition: .3s all;
  order: 1;
}

.no-full {
  transition: .3s all;
  order: 2;
}

.no-full:hover {
  background-color: #fafafa;
}

.full:hover {
  background-color: #fafafa;
}

.ea {
    margin: 0 10px;
}

.ea li {
    list-style-type: none;
}

@media screen and (max-width: 1200px) {
  .content {
    width: 100%;
  }

  .flex {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }

  .full {
    border-right: none;
  }

}

@media screen and (max-width: 596px) {
  .image {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
}
/*content end*/

/*footer*/
.for-flex-x {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer {
  height: 9.4em;
  width: 100%;
  background-color: #B6D14C;
  position: relative;
  border-top: 2px solid #444;
}

.footer .img-x {
  position: absolute;
  top: -63px;
  left: 65px;
}

.footer-links li {
    list-style-type: none;
}

.footer-links li a {
    text-decoration: none;
    display: block;
    color: #777;
    padding: 14px 0;
    text-align: center;
}

.footer-links li a:hover {
    color: #e5e5e5;
}

#ken {
    display: none;
}

.lux {
    display: none;
}

@media screen and (max-width: 970px) {
    .for-flex-x {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        background-color: #B6D14C;
        transition: .3s all;
        height: 0;
        overflow: hidden;
    }

    .lux {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .lux img {
        cursor: pointer;
    }

    #ken:checked ~ .for-flex-x {
       height: 100%;
    }

    .footer-links li a {
        font-size: 19px;
        color: #596F4C
    }
}
/*footer end*/


.table {
  border-collapse: collapse;
  width: 70%;
  margin: 20px auto;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.table td:first-child {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
  background-color: #6DCAFC;
}

.table td:last-child {
  text-align: center;
  background-color: #B3E987;
}

.spage {
  font-size: 15px;
  margin-top: 20px;
  padding-top: 20px;
}

.pad li {
  padding: 7px 0;
}

@media screen and (max-width: 980px) {
  .map {
    width: 100%;
  }
}

@media screen and (max-width: 662px) {
  .table {
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .table td {
    font-size: 12px;
  }

  .table td:first-child {
    font-size: 15px;
  }
}

/*teachers*/
.x-x {
    margin-top: 25px;
}

.more-i {
    display: block;
    text-decoration: none;
    color: #777;
    text-align: center;
    background-color: #FFF116;
    margin-top: 15px;
    padding: 5px;
    transition: .3s all;
}

.more-i:hover {
    background: #F8E915;
}

.about {
    width: 40%;
}

.my-skills {
    width: 40%;
}

.skills {
    margin-top: 25px;
}

.skills div {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
    background-color: #e5e5e5;
    border-bottom: 2px solid rgba(241,241,241,0.9);
}

.paint::before {
    content: '';
    background-color: rgba(116,206,228,0.5);
    height: 100%;
    width: 85%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid rgba(111,196,217,0.9);
    border-radius: 5px;
    transition: .3s all;
}

.sport::before {
    content: '';
    background-color: rgba(236,119,75,0.5);
    height: 100%;
    width: 75%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid rgba(223,118,78,0.9);
    border-radius: 5px;
    transition: .3s all;
}

.graphic::before {
    content: '';
    background-color: rgba(111,193,145,0.5);
    height: 100%;
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid rgba(106,183,138,0.9);
    border-radius: 5px;
    transition: .3s all;
}

.motto {
    font-size: 25px;
    color: #666;
}

.music::before {
    content: '';
    background-color: rgba(225,108,108,0.5);
    height: 100%;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid rgba(200,105,105,0.9);
    border-radius: 5px;
    transition: .3s all;
}
/*teachers end*/

/*contacts*/
.map {
    width: 100%;
    margin-top: 20px;
    border: 2px solid #FFF116;
}

.cs {
    margin-top: 25px;
}
/*contacts end*/

/* + info for groups*/
.new-cards {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.new-card {
  border: 2px solid #B6D14C;
  padding: 20px;
  text-align: center;
  transition: .3s all;
  cursor: default;
  background-color: #D5E78C;
  margin: 5px;
}

.new-card:hover {
  box-shadow: inset 0 0 50px rgba(255,241,22,1);
}
/* + info end*/

/*regime*/
.regime {
  text-align: center;
}

.regime h4 {
  background-color: rgba(179,233,135,0.9);
  color: #fff;
  padding: 15px;
  font-size: 20px;
}

.regime ul li {
  text-align: center;
  list-style-type: none;
  padding: 15px;
  font-weight: bold;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
    transition: .3s all;
}

.regime ul li:hover {
    background-color: #fafafa;
}
/*regime end*/

/*additions to content*/
.rubric {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    position: relative;
    cursor: default;
    color: #666;
    margin-bottom: 15px;
}

.rubric::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 5%;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    transition: .3s all;
    border-radius: 0 50% 50% 0;
}

.rubric::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    height: 3px;
    width: 5%;
    background-color: #FFF;
    display: block;
    margin: 0 auto;
    transition: .3s all;
    border-radius: 50% 0 0 50%;
}

.rubric:hover::before {
    width: 15%;
    background-color: #FFF116
}

.rubric:hover::after {
    width: 15%;
    background-color: #FFF116
}

.wrap-cards {
    margin-bottom: 25px;
}

.container-x {
    width: 100%;
    margin-top: 25px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;

}

.ticket {
    padding: 15px;
    width: 20%;
}

.cir img {
    width: 120px;
    display: block;
    margin: 0 auto;
}

.r {
    color: #E8485B;
    font-size: 24px;
}

.y {
    color: #FFD823;
    font-size: 24px;
}

.g {
    color: #70C582;
    font-size: 24px;
}

.b {
    color: #28A8E3;
    font-size: 24px;
}

.info-k {
    text-align: center;
    color: #777;
    margin-top: 20px;
}

.spage {
    padding: 20px;
    text-align: center;
    position: relative;
    margin: 25px;
}

.spage::before {
    content: '';
    position: absolute;
    transition: .3s all;
    top: 0;
    right: 0;
    height: 3px;
    width: 0;
    background-color: red;
}

.spage::after {
    content: '';
    position: absolute;
    transition: .3s all;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: green;
}

.spage:hover::before {
    width: 100%;
}

.spage:hover::after{
    width: 100%;
}
/*additions to content end*/

/*additions to develop-center*/
.for-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}

.img-logic {
    width: 183px;
    height: 183px;
    display: block;
    margin-top: 6%;
}

.size {
    width: 183px;
    height: 183px;
    display: block;
    margin-top: 2%;
}
/*additions to develop-center end*/

/*additions to english page*/
.alpha {
    width: 183px;
    height: 183px;
    margin-top: 40px;
    display: block;
}

.a-x {
    margin-top: 25px;
}

.a-z {
    margin-top: 0;
}
.a-a {
    margin-top: 45px;
}

.ex-a {
    width: 183px;
    height: 183px;
}

.w-h {
    width: 210px;
    height: 324px;
}
/*additions to english page end*/


/*additions to responsive*/
@media screen and (max-width: 1021px) {
    .for-flex {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .about {
        width: 100%;
    }

    .w-h {
        margin: 0 auto;
    }

    .for-flex img {
        margin: 0 auto;
        margin-bottom: 25px;
    }


}

@media screen and (max-width: 758px) {
    .container-x {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .ticket {
        margin: 0 auto;
        width: 70%;
    }
}
/*additions to responsive end*/
